<br>
  <h2>Viens on joue à un jeu ! Qui de l'oeuf ou de la poule ?</h2>
  <h2>Qu'est-ce que tu as découvert en preums ?</h2>
  <li>Il changeait la vie <%= image_tag 'Album1.jpeg' %>  OU  Jean-Jacques Goldmand <img src=""></li>
  <li>J'aime bien me mettre de la crème (sur le visage)<img src="">  OU   Andréas & Nicolas <img src=""></li>
  <li>Fever<img src="">  OU   Dua Lipa <img src=""></li>
<br>
