<div class="flex justify-center">
  <div class="container my-40 mx-auto pl-16 w-1/2 text-justify">
    <span id="typed"></span>
    <div id="btn-spotify" class="hidden btn rounded w-96 mx-auto -ml-8">
      <a class="text-green" href="/auth/spotify"><i class="fab fa-spotify text-xl"></i> Connecte toi à Spotify bg</a>
    </div>
  </div>
</div>




