<div class="container my-40 text-center">
  <span id="typed"></span>
  <div id="btn-spotify" class="hidden btn rounded w-96 mx-auto">
    <a class="text-green" href="/auth/spotify"><i class="fab fa-spotify text-xl"></i> Connecte toi à Spotify bg</a>
  </div>
</div>



