
.btn{
  margin: 20px auto;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  position: relative;
  opacity: 0.8;
  &::before{
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .btn-text{
    color: white;
    // check out mdn docs for different types of blend modes.
    mix-blend-mode: difference;
  }
  &:hover{
    &::before{
      background: black;
      width: 100%;
    }
  }
  //rounded btn styles
  &.rounded{
    border-radius:50px;
    & .text-green{
      color: #1ED760;
      opacity: 1;
      mix-blend-mode: difference;
    }

    &::before{
      border-radius: 50px;
      width: 25%;
      background: #1ED760;
      opacity: 1;
    }
    &:hover{
      &::before{
      background: #1ED760;
      opacity: 1;
        width: 100%;
      }
    }
  }
}



